@use '../../shared/mixins' as *;
@use '../../shared/variables' as *;
@use 'sass:map';

@font-face {
  font-family: 'interVariable';
  src: local('Inter'), url("/storage/assets/fonts/Inter.ttf") format('truetype-variations');
  font-weight: 1 999;
}

body {
  font-family: 'interVariable', sans-serif;
  color: map.get($colors-light, text);
  font-size: 1rem;
}

.font--normal {
  font-weight: normal;
}

.font--bold {
  font-weight: bold;
}

h1 {
  @include fluid-type(20, 24);
  font-weight: 700;
}

h2 {
  @include fluid-type(18, 20);
  font-weight: 700;
  margin: 2rem 0 1rem;
}

p, a, span, .font--paragraph {
  font-size: 1rem;
  line-height: 1.4;
}

.font--bold {
  font-weight: bold;
}
