@use '../../shared/variables' as *;
@use '../../shared/mixins' as *;
@use 'sass:map';

.button {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: .75rem 1.25rem;
  border-radius: 4px;
  text-decoration: none;

  &--primary {
    background: map.get($ui-colors, primary);
    color: map.get($colors-light, white);
  }

  &--success {
    background: map.get($ui-colors, success);
    color: map.get($colors-light, white);
  }



  &--with-icon {
    & > .icon__wrapper {
      margin-right: .5rem;

      & > svg {
        fill: map.get($colors-dark, white);
      }
    }
  }
}