@use '../../shared/variables' as *;
@use '../../shared/mixins' as *;
@use 'sass:map';

.form {
  &__input {
    @include border-radius;
    border: 1px solid map.get($colors-light, background-darker);

    @include dark-mode {
      background: map.get($colors-dark, header);
      border-color: map.get($colors-dark, header-lighter);
      color: map.get($colors-dark, text);

      &:focus {
        border-color: map.get($ui-colors, primary);
        outline: none;
      }
    }

    &:focus {
      border-color: map.get($ui-colors, primary);
      outline: none;
    }

    &--price {
      &::before {
        content: '€';
      }
    }
  }

  &__group {
    margin-bottom: 1.5rem;

    & label,
    & .form__label{
      display: block;
      margin-bottom: .5rem;
      @include fluid-type(12, 16);
      user-select: none;
    }
  }

  &__columns {
    display: grid;
    @include media-up(md) {
      grid-template-columns: 3fr 1fr;
      grid-gap: 1rem;

      &--left {
        grid-column: 1 / 2;
      }

      &--right {
        grid-column: 2 / -1;
      }
    }
  }

  & fieldset {
    padding: 1.3rem;
    margin-bottom: 2rem;
    border: none;
    border-radius: .5rem;
    background: map.get($colors-light, white);

    @include dark-mode {
      background: map.get($colors-dark, header);
    }

    & > legend {
      float: left;
      margin-bottom: 1.5rem;
      @include fluid-type(18, 20);
      font-weight: 600;

      & + * {
        clear: both;
      }
    }
  }
}