@use '../../shared/variables' as *;
@use '../../shared/mixins' as *;
@use 'sass:map';

.header {
  &__wrapper {
    height: map.get($nav-height, big);
    color: map.get($colors-light, text);
    background: map.get($colors-light, white);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;

    @include media-up(sm) {
      height: map.get($nav-height, big);
    }

    @include dark-mode {
      background: map.get($colors-dark, header);
    }
  }
}