@use '../../shared/variables' as *;
@use '../../shared/mixins' as *;
@use 'sass:map';

.notification {
  &__wrapper {
    padding: 1rem;
    margin-bottom: 1.5rem;
    @include border-radius;
  }

  &--error {
    background: map.get($ui-colors, error);
    color: map.get($colors-light, white);
  }
}