@use '../../shared/variables' as *;
@use '../../shared/mixins' as *;
@use 'sass:map';

button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
}


.button {
  display: inline-flex;
  padding: .75rem 1.25rem;
  font-size: 1rem;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  @include border-radius;

  & > .icon__wrapper + span {
    margin-left: .8rem;
  }

  & > span + .icon__wrapper {
    margin-left: .8rem;
  }

  &--small {
    padding: .5rem 1rem;
  }

  &--primary {
    background: map.get($colors-light, primary);
    border: 1px solid map.get($colors-light, primary);
    color: map.get($colors-light, white);

    & .icon__wrapper > svg {
      fill: map.get($colors-light, white);
    }
  }

  &--secondary {
    border: 1px solid map.get($colors-light, primary);
    color: map.get($colors-light, primary);

    & .icon__wrapper > svg {
      fill: map.get($colors-light, primary);
    }
  }

  &--full-width {
    display: flex;
    width: 100%;
  }
}