@use '../../shared/variables' as *;
@use '../../shared/mixins' as *;
@use 'sass:map';

.gallery {
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__thumbs-list {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    grid-auto-rows: 5rem;

    @include media-up(lg) {
      grid-template-columns: repeat(5, 1fr);
      grid-auto-rows: 10rem;
    }
  }

  &__thumbs-item {
    width: 100%;
    height: 100%;
    padding: .5rem 0;
    background: map.get($colors-light, white);
    position: relative;
    cursor: pointer;
    @include border-radius;
    @include box-shadow;
    @include box-shadow-hover;

    &--last {
      &::before {
        content: "+" attr(data-elements-left);
        color: map.get($colors-light, white);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(map.get($colors-light, text), 0.7);
        @include border-radius;
      }
    }


    &--hidden {
      display: none;
    }
  }

  &__thumbs-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__stage {
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
    background: map.get($colors-light, white);
    margin-bottom: 1rem;
    @include border-radius;
    @include box-shadow;
  }

  &__stage-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;

  }

  &__lightbox {
    &-container {
      display: none;
    }
    &--open {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(map.get($colors-light, white), .8);



      @supports (backdrop-filter: none) {
        background: rgba(map.get($colors-light, white), .3);
        backdrop-filter: blur(.2rem);
      }
    }

    &-img {
      max-width: 80vw;
      max-height: 80vh;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &-close {
      position: fixed;
      top: 1rem;
      right: 1rem;
    }

    &-controls {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 1rem;
    }
  }
}