@use '../../shared/variables' as *;
@use '../../shared/mixins' as *;
@use 'sass:map';

.icon {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    & > svg {
      width: 1.2rem;
      fill: map.get($colors-light, text);
    }

    & + * {
      margin-left: .8rem;
    }
  }
}