@use '../../shared/variables' as *;
@use '../../shared/mixins' as *;
@use 'sass:map';

.single-product {
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;

    @include media-up(lg) {
      grid-template-columns: 2fr 1fr;
    }
  }

  &__images {
    grid-column: span 1;
  }

  &__description {
    background: map.get($colors-light, white);
    @include border-radius;
    @include box-shadow;
    padding: 2rem;

    @include media-up(lg) {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
    }
  }

  &__contents {
    grid-column: span 1;
    grid-row: 2 / 3;

    @include media-up(lg) {
      grid-row: 1 / 3;
    }

    &-inner {
      background: map.get($colors-light, white);
      @include box-shadow;
      @include border-radius;
      padding: 2rem;

      position: sticky;
      top: calc(#{map.get($nav-height, big)} + 3rem);
    }
  }

  &__wishlist {
    padding: 0;
    top: 4rem;
    right: 1rem;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;

    & > .icon__wrapper svg {
      fill: map.get($colors-light, primary);
    }
  }

  &__header, &__preheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__price,
  &__name {
    @include fluid-type(24, 32);
    margin-bottom: 0;
  }

  &__quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .form__input {
      width: 5rem;
    }

    & label {
      font-size: 1rem;
    }
  }

  &__form {
    display: flex;
    justify-content: flex-end;
  }
}