// Breakpoints
$breakpoints: (
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
);

// Farben

$colors-light: (
        primary: #3c40c6,
        text: #181818,
        light-grey: #dfdfdf,
        background: #F8F8F8,
        background-dark: darken(#f8f8f8, 10%),
        background-darker: darken(#f8f8f8, 20%),
        white: #fff,
        error: #e63946
);

$colors-dark: (
        primary: #009949,
        text: rgba(#fff, 0.87),
        light-grey: #dfdfdf,
        background: #1b1c22,
        header: #25262c,
        header-light: lighten(#25262c, 10%),
        header-lighter: lighten(#25262c, 20%),
        white: #fff,
        error: #e63946
);

$ui-colors: (
        primary: #3c40c6,
        error: #e63946,
        success: #05c46b,
        warning: #ffa801,
        info: #34e7e4,
);

$margin-sizes: (
        1: .5rem,
        2: .75rem,
        3: 1rem,
        4: 1.5rem,
        5: 2rem,
        6: 3rem
);

$margin-directions: (
        t: top,
        b: bottom,
        l: left,
        r: right,
        x: null,
        y: null
);

// Container-Abstände links und rechts
$container-margin: (
        small: 1rem,
        big: 3.125rem
);

$container-max-width: 113.75rem;

$nav-height: (
        small: 3rem,
        big: 4rem
);